@import url( 'https://fonts.goolgleapis.com/css?family=Poppins:400,500,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 100;
       color:black;
   }

   body{
    background: rgb(223, 222, 222);
    display: flex;
    min-height: 100vh;
}

.sidebar{
    height: 100vh;
    width: 250px;
    background: white;
    padding: 10px;
}

.box{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 85px;
}


.profile p {
    margin-left: 100px;
    transform: translateY(37px);
     font-size: 32px;
     color: black;
     font-weight: bold;
     
 }
 
 .box .profile img{
     height: 100px;
     width: 100px;
     transform: translateY(-40px);
     padding: 15px;
     border-radius: 100%;
 }


.navbar ul{
    list-style-type: none;
}

.navbar a {
    color: gray;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    position: relative;
    transition: 0.4s ease-in-out;
}

.navbar i{
    color: gray;
    font-size: 45px;
    position: absolute;
    transform: translateY(-57px);
    margin-left: 19px;
}

.navbar a:hover{
    transition: 0.4s ease-in-out;
    background-color: white;
    box-shadow: 10px 10px 20px;
    border-radius: 20px;
}


.Products a{
    background-color: white;
    box-shadow: 10px 10px 20px aqua;
}

.navbar .Products a{
    border-radius: 20px;
    color: aqua;
}
.navbar .Products i{
    color: aqua;
}


/* DROPDOWN */

.navbar .settings-dropdown a{
    background-color: white;
    display: block;
}

.settings-dropdown .arrow i{
    left: 195px;
    margin: 14px;
    position: absolute;
    font-size: 20px;
    cursor:default;
}
.settings-dropdown a:hover .arrow i{
    transform:rotateY(180deg);
}

ul.settings-dropdown a:hover{
   display: block;
    transition: 0.3s ease-in-out;
    background-color: white;
   border-radius: 10px 10px 10px 10px;
}
.settings-dropdown:hover .Logout{
    position: absolute;
    display: block;
}

.Logout{
    margin: 1px;
    z-index: 999;
    display: none;
}
.settings-dropdown .Logout i {
    color: gray;
    position: absolute;
    margin-top: 63px;
}

.Logout button{
    position: absolute;
    color: gray;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
    padding-left: 85px;
    padding-right: 85px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;  
}
.Logout i{
    margin-left: 37px;
    font-size: 35px;
}

.Logout button:hover{
    background-color: white;
    transition: 0.4s ease-in-out;
    box-shadow: 10px 10px 20px;
}

/* DROPDOWN */

/*Pop out window*/
.Form{
    width: 425px;
    height: 277px;
    box-shadow:  10px 10px 20px;
    border-radius: 30px;
    background-color:white;
    position: absolute;
    left: 55%;
    top: -150%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);  
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
                z-index: 1000;
}
.Form.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);  
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.Form p{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    font-weight: bold;
}
.Form button{
    background-color: white;
    color: black;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 50px;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.Form .close-btn{
    color: black;
    font-size:50px;
    position: absolute;
    left: 270px;
    top: 160px;
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s ease-in-out;
}

.Form .close-btn:hover{
    transition: 0.4s ease-in-out;
    box-shadow: 10px 10px 20px;
    color: red;
}
.Form a{
    font-size: 50px;
    text-decoration: none;
    color: black;
    margin-left: 80px;
}
.Form button:hover{
    transition: 0.4s ease-in-out;
    color: lime;
}

/*Pop out window*/
 

.container{
    display: flex;
    background-color: white;
    width: 1655px;
    height: 940px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.container .tag{
    margin-top: -10px;
    position: absolute;
     margin-left: 1px;
     font-size: 32px;    
}

.tag p{
   font-weight: bold;
}

.container .add-products-btn {
    position: relative;
    left: 1400px;
    margin-top: -5px;
}

.add-products-btn button{
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: gray;
    transition: 0.1s ease-in-out;
}

.add-products-btn button:hover{
    color: black;
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 10px;
}

.wrapper{
    display: grid;
    grid-template-columns:  auto auto auto auto;
    width: 150%;
    height: 830px;
    gap: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    margin-top: 80px;
    overflow-y: auto;
}

.label p{
    position: absolute;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 50px;
    margin-left: 18%;
    font-weight: bold;
}

.wrapper img{
    display: flex;
    width: 240px;
    height: 200px;
    margin-left: 19px;
    margin-top: 30px;
    transition: 0.2s ease;
}

.wrapper img:hover{
    transition: 0.2s ease;
    padding: 10px;
}

.Volleyball{
    position: relative;
    width: 300px;
    height: 360px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 70px;
    box-shadow: 5px 5px 10px gray;
}

.Volleyball p{
    color: black;
    margin-left: 70px;
    margin-top: 20px;
   font-size: 18px;
}


.Volleyball .Config{
    display: flex;
    margin-top: 25px;
    height: 40px;
    width: auto;
    border-radius: 20px;
}

.add {
    position: relative;
    font-size: 25px;
    margin-left: 13px;
}
.Config .add a{ 
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 47px;
    padding-right: 16px;
    border-radius: 10px;
    color: gray;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease;
}
.add a:hover{
    box-shadow: 5px 5px 5px;
    transition: 0.2s ease;
}

.Config .add i{
    cursor: pointer;
    color: gray;
    position: absolute;
    margin-top: 2px;
    transform: translateX(-95px);
}

.delete{
    position: relative;
    font-size: 20px;
    margin-left: 15px;
}
.Config .delete a{
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 16px;
    border-radius: 10px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease;
}
.delete a:hover{
    box-shadow: 5px 5px 5px gray;
    transition: 0.2s ease;
}

.Config .delete i{
    cursor: pointer;
    color: red;
    position: absolute;
    margin-top: 2px;
    transform: translateX(-120px);
}


::-webkit-scrollbar{
    width: .7vw;
    
}
::-webkit-scrollbar-thumb{
    background-color:aqua;
    border-radius: 100vw;
    width: .9vw;
}
::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 100vw;
    
}
